<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet/less' type='text/css' href='css/main.less' />
    <script src='js/lib/less-1.3.3.min.js'></script>
    <title>Backbone Charts Demo</title>
  </head>

  <body>
    <header class='main-header'>
      <h1>Charts dashboard</h1>
    </header>

    <div class='content'>

      <div class='filters'>
        Show:
        <ul></ul>
      </div>

      <div class='charts'></div>

      <div class='new-chart'>
        <select id='type'></select>
        <input id='title' placeholder='Title'></input>
        <button id='add'>Add another chart</button>
      </div>

    </div>

    <footer class='main-footer'>
      <div class='about-us'>
        by Miguel Parramon<br>
        Github: <a href='https://github.com/mparramont' target='_blank'>mparramont</a><br>
        Twitter: <a href='https://twitter.com/mparramon' target='_blank'>@mparramon</a>
      </div>
    </footer>

    <script id='chart-template' type='text/template'>
      <span><%= title %></span>
      <div class='view-chart'>
        <div class='chart-contents'></div>
        <span class='delete'>remove chart</span>
        <span class='edit'>edit chart</span>
      </div>
      <div class='edit-chart hidden'>
        <div class='edit-contents'>
          <div>Edit chart:</div>
        </div>
        <span class='done'>done</span>
      </div>
    </script>

    <script id='type-template' type='text/template'>
      <option value=<%= value %>><%= text %></option>
    </script>

    <script id='filter-template' type='text/template'>
      <li>
        <a href=<%= '#/' + link %>><%= text %></a>
      </li>
    </script>


    <script src='https://www.google.com/jsapi'></script>

    <script src='js/lib/jquery-1.9.0.min.js'></script>
    <script src="js/lib/jquery-ui-1.10.0.custom.min.js"></script>
    <script src='js/lib/lodash.min.js'></script>
    <script src='js/lib/backbone-min.js'></script>

    <script src='js/models/chart.js'></script>
    <script src='js/collections/charts.js'></script>
    <script src='js/views/app.js'></script>
    <script src='js/views/chart.js'></script>
    <script src='js/routers/router.js'></script>

    <script src='js/main.js'></script>

  </body>
</html>
