<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet/less" type="text/css" href="main.less" />
    <script src="less-1.3.3.min.js"></script>
    <title>Backbone Charts Demo</title>
  </head>

  <body>
    <header class='main-header'>
      <h1>Some Backbone/Google API powered charts</h1>
    </header>

    <div class='content'>
      <div class='filters'>
        Show:
        <ul></ul>
      </div>

      <div class= 'new-chart'>
        <select id='type'></select>
        <input id='title' placeholder='Title'></input>        
        <button id='add'>Add another chart</button>
      </div>

      <div class='charts'></div>

    </div>

    <footer class='main-footer'>
      by Miguel Parramon <br>
      Github: mparramont <br>
      Twitter: @mparramon
    </footer>

    <script id="chart-template" type="text/template">
      <header>
        <%= title %>
        <span class='delete'>remove</span>
      </header>
      <div class="chart-contents"></div>
    </script>

    <script id="type-template" type="text/template">
      <option value=<%= value %>><%= text %></option>
    </script>

    <script id="filter-template" type="text/template">
      <li>
        <a href=<%= '#/' + link %>><%= text %></a>
      </li>
    </script>


    <script src="https://www.google.com/jsapi"></script>

    <script src="jquery-1.9.0.min.js"></script>
    <script src="lodash.js"></script>
    <script src="backbone.js"></script>

    <script src="app/models/chart.js"></script>
    <script src="app/collections/charts.js"></script>
    <script src="app/views/app.js"></script>
    <script src="app/views/chart.js"></script>
    <script src="app/routers/router.js"></script>

    <script src="main.js"></script>

  </body>
</html>
