@nice-gray: #EEE;

*{
	font-family: 'Arial';
}

.box{
	border: 2px solid black;
	margin: 2px;
	background-color: @nice-gray;
}

header, footer{
	width: 100%;
	height: 10%;
  .box;
}

.chart{
	display: inline-block;
	width: 48.95%;
	height: 38%;
  .box;
}