@nice-gray: #EEE;

*{
	font-family: 'Arial';
}

.box{
	border: 2px solid black;
	margin: 2px;
	background-color: @nice-gray;
}

.main-header, .main-footer{
	width: 960px;
	height: 80px;
  .box;
}

.chart{
	display: inline-block;
	width: 476px;
	height: 350px;
  .box;
}